<a href="https://colab.research.google.com/github/Rayjolasun/Portfolio-Projects/blob/main/DASL_Challenge_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DASL Challenge 4 | Movie Dataset Cleaning

## Team 4 Members

Ayodele Jolasun

Oladayo Oladipupo

Divine Ykoko

Yusuf

## Task

Download the movies.csv file here: https://drive.google.com/drive/folders/1qQLg15yfRly6vV0tjmMMaGeK5SxfcyG7?usp=sharing.

Then, clean the movies.csv data with Python.

*  Remove duplicate values from the movies column
*  Clean the year column to get the appropriate year
*  Get the first genre from the genre column
*  Clean the rating column
*  Get the director name and put it in a different column and also put the stars names in a separate column
*  Clean the votes column
*  Clean the runtime column
*  Clean the gross column

In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
url = 'https://github.com/oladeeayo/Movies/raw/main/movies.csv'

df = pd.read_csv(url)

df2 = pd.read_csv(url)

In [ ]:
df.sample(20)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
9489,Crime Scene: The Vanishing at the Cecil Hotel,(2021),"\nDocumentary, Crime, Mystery",7.0,\nInternet sleuths dissect Elisa's social medi...,\n Director:\nJoe Berlinger\n| \n Stars:...,630,54.0,NaN
2059,Ssanggabpocha,(2020),"\nComedy, Fantasy, Mystery",8.1,\nA young man with an unique ability begins wo...,"\n \n Stars:\nHwang Jeong-eum, \...","1,414",70.0,NaN
9979,Never Have I Ever,(2020– ),\nComedy,8.8,\nAs Paxton's mixed messages have Devi questio...,\n Director:\nLang Fisher\n| \n Stars:\n...,433,NaN,NaN
3652,Iron Man and Captain America: Heroes United,(2014 Video),"\nAnimation, Action, Adventure",5.5,\nIron Man and Captain America battle to keep ...,"\n Directors:\nEric Radomski, \nLeo Riley\n...","1,632",71.0,NaN
7880,Disenchantment,(2018– ),"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN
6174,Word Party: Happy Birthday to You!,(2017 TV Special),"\nAnimation, Short",NaN,"\nIt's your birthday, and the babies are so ex...",\n,NaN,2.0,NaN
6292,Southern Justice,(2006),"\nAction, Adventure, Thriller",3.1,"\nM.D. Selig's feature thriller, SOUTHERN JUST...",\n Director:\nM.D. Selig\n| \n Stars:\nM...,126,96.0,$0.14M
6430,Ancient Extraterrestrials: Aliens and UFOs Bef...,(2012 Video),\nDocumentary,5.6,\nZecharia Sitchin presents his theory that th...,"\n \n Stars:\nPat Marcattilio, \...",8,188.0,NaN
1941,Quien a hierro mata,(2019),"\nAction, Drama, Thriller",6.6,\nA drug dealer looking for rest. A nurse look...,\n Director:\nPaco Plaza\n| \n Stars:\nL...,"6,591",107.0,NaN
2719,Love Per Square Foot,(2018),"\nComedy, Romance",7.2,"\nIndividually, Sanjay and Karina don't earn e...",\n Director:\nAnand Tiwari\n| \n Stars:\...,"7,730",133.0,NaN
3273,Mutants,(2009),"\nDrama, Horror, Sci-Fi",5.6,"\nIn the middle of a zombie apocalypse, a reso...",\n Director:\nDavid Morlet\n| \n Stars:\...,"4,007",95.0,NaN
2615,Budapest,(2018),\nComedy,5.4,\nTwo best friends stuck in boring jobs become...,\n Director:\nXavier Gens\n| \n Stars:\n...,"2,506",102.0,NaN
6745,Warrior Nun,(2020– ),"\nAction, Drama, Fantasy",7.4,\nAva takes her first steps toward understandi...,\n Director:\nAgnieszka Smoczynska\n| \n ...,815,46.0,NaN
7231,Space Force,(2020– ),\nComedy,6.8,\nArmed with weapons that are less than intimi...,\n Director:\nDee Rees\n| \n Stars:\nSte...,"1,711",30.0,NaN
3892,Angry Birds: Summer Madness,NaN,"\nAnimation, Short, Comedy",NaN,"\nSparks and feathers fly when a teenage Red, ...",\n,NaN,NaN,NaN
1745,Post Mortem: No One Dies in Skarnes,(2021– ),"\nComedy, Drama, Thriller",NaN,\nLive Hallangen is declared dead but hours la...,\n \n Stars:\nKathrine Thorborg ...,NaN,NaN,NaN
4704,Neal Brennan: 3 Mics,(2017 TV Special),\nComedy,7.9,\nNeal Brennan is taking multitasking to a who...,\n Director:\nNeal Brennan\n| \n Star:\n...,"2,979",65.0,NaN
7234,Space Force,(2020– ),\nComedy,7.0,\nIt's conjugal visit time and General Naird i...,\n Director:\nDavid Rogers\n| \n Stars:\...,"1,496",32.0,NaN
745,Sabotage,(2014),"\nAction, Crime, Drama",5.7,\nMembers of an elite DEA task force find them...,\n Director:\nDavid Ayer\n| \n Stars:\nA...,"61,545",109.0,$10.51M
7587,Dead to Me,(2019– ),"\nComedy, Crime, Drama",8.7,"\nDetermined to protect her family, Jen tries ...",\n Director:\nSilver Tree\n| \n Stars:\n...,"1,144",34.0,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [ ]:
columns = list(df.columns)
columns

['MOVIES',
 'YEAR',
 'GENRE',
 'RATING',
 'ONE-LINE',
 'STARS',
 'VOTES',
 'RunTime',
 'Gross']

In [ ]:
# Count the missing values in each column
missing_counts = df.isnull().sum()

# Print the count of missing values in each column
print(missing_counts)

MOVIES         0
YEAR         644
GENRE         80
RATING      1820
ONE-LINE       0
STARS          0
VOTES       1820
RunTime     2958
Gross       9539
dtype: int64

## Task 1

**Remove duplicate values from the movies column**

In [ ]:
# check the number of duplicates in the MOVIES column

num_duplicates = df['MOVIES'].duplicated().sum()
print("Number of duplicate values in 'MOVIES' column:", num_duplicates)

Number of duplicate values in 'MOVIES' column: 3182

In [ ]:
# List of duplicated MOVIES column

column_name = 'MOVIES'

# Find duplicates and count their occurrences

duplicates = df[column_name].duplicated(keep=False)
duplicate_counts = df[duplicates][column_name].value_counts()

# Print the list of duplicates and their occurrence counts

duplicate_counts

 Bleach: Burîchi                         65
 Mighty Little Bheem                     64
 Avatar: The Last Airbender              61
 La Reina de Indias y el Conquistador    60
 Dexter                                  48
                                         ..
Extracurricular                           2
Carmen Sandiego                           2
Wednesday                                 2
Perdida                                   2
Private Life                              2
Name: MOVIES, Length: 419, dtype: int64

In [ ]:
# drop the duplicate values in MOVIES

df.drop_duplicates(subset='MOVIES', inplace=True)

In [ ]:
# To confirm if there are still duplicate values in MOVIES

num_duplicates = df.MOVIES.duplicated().sum()
num_duplicates

0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6817 entries, 0 to 9996
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    6817 non-null   object
 1   YEAR      6353 non-null   object
 2   GENRE     6746 non-null   object
 3   RATING    5815 non-null   float64
 4   ONE-LINE  6817 non-null   object
 5   STARS     6817 non-null   object
 6   VOTES     5815 non-null   object
 7   RunTime   5305 non-null   float64
 8   Gross     452 non-null    object
dtypes: float64(2), object(7)
memory usage: 532.6+ KB

## Task 2

**Clean the year column to get the appropriate year**

In [ ]:
# Extract the year using regular expressions
df['YEAR'] = df['YEAR'].str.extract(r'(\d{4})')

In [ ]:
# confirm that the appropriate year has been extracted

df.sample(10)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
3340,The Big Family Cooking Showdown,2017,\nReality-TV,7.0,\nCompetitive food show celebrating the famili...,"\n \n Stars:\nAngellica Bell, \n...",593,59.0,NaN
4411,Sugar Rush Christmas,2019,\nReality-TV,6.9,\nFour sets of bakers compete in Christmas the...,"\n \n Stars:\nHunter March, \nCa...",473,NaN,NaN
5205,Watergate,NaN,"\nAction, Crime, Drama",NaN,\nA look at the events and historical figures ...,\n,NaN,NaN,NaN
1632,Conversations with a Killer: The Ted Bundy Tapes,2019,"\nDocumentary, Biography, Crime",7.8,\nA look inside the mind of serial killer Ted ...,"\n \n Stars:\nStephen Michaud, \...","25,740",236.0,NaN
5369,Dummie de Mummie,2014,"\nAdventure, Comedy, Family",6.0,\nIn a dull village where nothing ever happens...,\n Director:\nPim van Hoeve\n| \n Stars:...,263,77.0,NaN
2504,Betty en NY,2019,\nComedy,7.7,\nThe show centers on Beatriz Aurora Rincon Lo...,"\n \n Stars:\nElyfer Torres, \nE...",477,60.0,NaN
2421,Roku de nashi majutsu kôshi to akashic records,2017,"\nAnimation, Action, Comedy",7.1,\nThe Alzano Empire is home to one of the most...,"\n \n Stars:\nJosh Grelle, \nMor...","1,557",24.0,NaN
622,3Below: Tales of Arcadia,2018,"\nAnimation, Action, Adventure",7.7,\nA pair of teenage royals and their bodyguard...,"\n \n Stars:\nTatiana Maslany, \...","5,095",24.0,NaN
4996,Black Privilege,2019,\nFamily,3.3,\nWhen low-income families move into a thrivin...,\n Director:\nMark Harris\n| \n Stars:\n...,205,79.0,NaN
4988,L'oro di Scampia,2014,"\nBiography, Drama",6.9,"\nIn Scampia, the Camorra hires young people f...",\n Director:\nMarco Pontecorvo\n| \n Sta...,73,102.0,NaN

In [ ]:
# Count the missing values in each column
missing_counts = df.isnull().sum()

# Print the count of missing values in each column
print(missing_counts)

MOVIES         0
YEAR         542
GENRE         71
RATING      1002
ONE-LINE       0
STARS          0
VOTES       1002
RunTime     1512
Gross       6365
dtype: int64

In [ ]:
# Replace null values and non-date values in the "YEAR" column with a default value or a specific treatment

df['YEAR'].fillna(0, inplace=True)  # Replace null values with 0 
df['YEAR'] = pd.to_numeric(df['YEAR'], errors='coerce')  # Convert non-date values to NaN

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6817 entries, 0 to 9996
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    6817 non-null   object
 1   YEAR      6817 non-null   int64
 2   GENRE     6746 non-null   object
 3   RATING    5815 non-null   float64
 4   ONE-LINE  6817 non-null   object
 5   STARS     6817 non-null   object
 6   VOTES     5815 non-null   object
 7   RunTime   5305 non-null   float64
 8   Gross     452 non-null    object
dtypes: float64(2), int64(1), object(6)
memory usage: 532.6+ KB

In [ ]:
df.sample(10)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
669,Dokutaa Sutoon,2019,"\nAnimation, Action, Adventure",8.2,\nAwakened into a world where humanity has bee...,"\n \n Stars:\nYûsuke Kobayashi, ...","13,258",23.0,NaN
796,Still Game,2002,\nComedy,8.8,\nCult Scottish comedy about the lives of two ...,"\n \n Stars:\nFord Kiernan, \nGr...","6,624",30.0,NaN
63,Le dernier mercenaire,2021,"\nAction, Comedy",5.4,\nA mysterious former secret service agent mus...,\n Director:\nDavid Charhon\n| \n Stars:...,"2,606",110.0,NaN
5236,Urvi,2017,"\nCrime, Drama, Thriller",6.9,\nTroubling circumstances bring forward three ...,\n Director:\nPradeep Verma\n| \n Stars:...,242,151.0,NaN
4891,Country Ever After,2020,"\nMusic, Reality-TV",6.5,\nCountry singer Coffey Anderson and his hip-h...,"\n \n Stars:\nCoffey Anderson, \...",141,NaN,NaN
6386,The End/Beginning,2011,\nDocumentary,NaN,\nAdd a Plot\n,"\n \n Stars:\nRisa Beer, \nAnura...",NaN,NaN,NaN
2234,"Sex, Explained",2020,\nDocumentary,6.9,\nFrom the biology of attraction to the histor...,"\n \n Stars:\nJanelle Monáe, \nL...","2,758",111.0,NaN
884,The Iceman,2012,"\nBiography, Crime, Drama",6.8,"\nThe story of Richard Kuklinski, the notoriou...",\n Director:\nAriel Vromen\n| \n Stars:\...,"72,326",106.0,$1.94M
590,Total Recall,2012,"\nAction, Adventure, Sci-Fi",6.2,"\nA factory worker, Douglas Quaid, begins to s...",\n Director:\nLen Wiseman\n| \n Stars:\n...,"244,708",118.0,$58.88M
2016,All Day and a Night,2020,\nDrama,5.8,\nA young man who committed a homicide deals w...,\n Director:\nJoe Robert Cole\n| \n Star...,"3,301",121.0,NaN

## Task 3

**Get the first genre from the genre column**

In [ ]:
# Extract the genre column by splitting it by ',' allowing only the first Genre stated to remain

df['GENRE'] = df['GENRE'].str.split(',').str[0].str.strip()

df.sample(10)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
192,Jujutsu Kaisen,2020,Animation,8.7,\nA boy swallows a cursed talisman - the finge...,"\n \n Stars:\nJunya Enoki, \nAda...","25,386",24.0,NaN
2622,Sora yori mo Tooi Basho,2018,Animation,8.3,\nMari Tamaki is in her second year of high sc...,"\n \n Stars:\nInori Minase, \nKa...","1,764",23.0,NaN
1063,Boyka: Undisputed IV,2016,Action,7.0,\nIn the fourth installment of the fighting fr...,\n Director:\nTodor Chapkanov\n| \n Star...,"26,802",86.0,NaN
3430,Puen Tee Raluek,2017,Drama,6.0,\nIb and Boum decide to commit suicide togethe...,\n Director:\nSophon Sakdaphisit\n| \n S...,"1,053",114.0,NaN
3620,The App,2019,Drama,2.6,"\nLoving girlfriend, family fortune, breakout ...",\n Director:\nElisa Fuksas\n| \n Stars:\...,"1,229",78.0,NaN
2519,Christmas with a View,2018,Drama,5.2,\nSecret aspirations between a failed restaura...,\n Director:\nJustin G. Dyck\n| \n Stars...,"3,906",91.0,NaN
1314,The Girl on the Train,2021,Crime,4.4,\nThe story follows a recent divorcee who spen...,\n Director:\nRibhu Dasgupta\n| \n Stars...,"7,821",120.0,NaN
5445,Soy Rada: Serendipity,2021,Comedy,5.8,\nThe delightful Argentine comic Agustín Arist...,\n Director:\nPablo Faro\n| \n Star:\nMa...,55,68.0,NaN
2824,Malibu Rescue: The Next Wave,2020,Action,4.8,"\nIt's summer again, and everyone's favorite J...",\n Director:\nSavage Steve Holland\n| \n ...,692,68.0,NaN
4029,My Magic Pet Morphle,2019,Animation,4.9,\nMila's dad runs the only magic pet store in ...,"\n \n Stars:\nSabrina Glow, \nCa...",57,43.0,NaN

In [ ]:
# Replace null values in the "GENRE" column with "Not Available"
df['GENRE'].fillna('Not Available', inplace=True)

df.sample(10)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
5909,Invasion 1897,2014,Biography,2.9,\nIgie Ehanire a research student on African A...,\n Director:\nLancelot Oduwa Imasuen\n| \n ...,103,113.0,NaN
6078,Sweetener,0,Not Available,NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN
1069,Nightflyers,2018,Drama,5.9,\nA crew of scientists embarks on a mission ab...,"\n \n Stars:\nEoin Macken, \nDav...","12,288",60.0,NaN
6200,All on the Line,2011,Reality-TV,7.8,\nJoe Zee - Creative Director for Elle - is al...,"\n \n Stars:\nJoe Zee, \nJeanett...",44,60.0,NaN
6442,Mr. D: Southland to Japan,2006,Documentary,NaN,\nAdd a Plot\n,\n Director:\nMark Landre Gould\n,NaN,NaN,NaN
2182,Lady Driver,2020,Sport,5.9,\nWhen a rebellious teen embarks on a solo sum...,\n Director:\nShaun Paul Piccinino\n| \n ...,"1,115",104.0,NaN
1612,Beyond a Reasonable Doubt,2009,Crime,5.9,"\nRemake of the 1956 film noir film ""Beyond a ...",\n Director:\nPeter Hyams\n| \n Stars:\n...,"12,570",106.0,$0.03M
1831,Last Chance U,2016,Documentary,8.4,\nIntense look inside the world of junior coll...,"\n \n Stars:\nRon Ollie, \nJohn ...","6,416",55.0,NaN
5987,Salem Abu Ukhtuh,2014,Comedy,3.6,\nA poor guy called Salem works as street vend...,\n Director:\nMohamed Hamdy\n| \n Stars:...,91,99.0,NaN
96,The Ice Road,2021,Action,5.6,\nAfter a remote diamond mine collapses in far...,\n Director:\nJonathan Hensleigh\n| \n S...,"20,561",109.0,NaN

In [ ]:
# Count the missing values in each column
missing_counts = df.isnull().sum()

# Print the count of missing values in each column
print(missing_counts)

MOVIES         0
YEAR           0
GENRE          0
RATING      1002
ONE-LINE       0
STARS          0
VOTES       1002
RunTime     1512
Gross       6365
dtype: int64

## Task 4

**Clean the rating column**

In [ ]:
# Check the number of empty rows in the Rating column

has_nan = df['RATING'].isna().sum()
print("NaN values in 'RATING' column:", has_nan)

NaN values in 'RATING' column: 1002

In [ ]:
# Clean the Rating column by filling the empty rows with 'Not Available' since the ratings are not available

df['RATING'].fillna('Not Available', inplace=True)

df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,2021,Action,6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,2021,Animation,5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,2010,Drama,8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,2013,Animation,9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,2021,Action,Not Available,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

## Task 5

**Get the director name and put it in a different column and also put the stars names in a separate column**

In [ ]:

# Extract the director names
df['Directors'] = df['STARS'].str.extract('Director[s]?:(.+?)(?=\s*\||Stars:|$)', flags=re.S, expand=False)
df['Directors'] = df['Directors'].str.replace('\n', '')

# Extract the stars names
stars1 = df['STARS'].str.extract('Star[s]?:(.+)', flags=re.S, expand=False)
stars2 = df['STARS'].str.extract('Stars:(.+)', flags=re.S, expand=False)

# Concatenate star names into a single column
df['Stars'] = stars1.fillna('').values.flatten() + stars2.fillna('').values.flatten()
df['Stars'] = df['Stars'].str.replace('\n', '')

# Remove leading/trailing whitespace from the extracted columns
df['Directors'] = df['Directors'].str.strip()
df['Stars'] = df['Stars'].str.strip()

# Fill NaN or null values or empty values with ''
df['Directors'] = df['Directors'].fillna("")
df['Stars'] = df['Stars'].fillna("")

# Insert the 'director' and 'stars' columns in the original position
original_position = df.columns.get_loc('STARS')
df.insert(original_position, 'Directors', df.pop('Directors'))
df.insert(original_position + 1, 'Stars', df.pop('Stars'))

# Drop the 'STARS' column
df = df.drop('STARS', axis=1)

df.sample(20)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,Directors,Stars,VOTES,RunTime,Gross
5653,Chronicles of a Champion Golfer,2016,Documentary,8.1,\nA sports documentary of the most iconic perf...,,"Darren Clarke, Ernie Els, Jack Nicklaus, Greg ...",36,30.0,NaN
1062,Leyla ile Mecnun,2011,Adventure,9.1,\nTurkish television comedy series set in Ista...,,"Ali Atay, Ahmet Mümtaz Taylan, Serkan Keskin, ...","90,655",80.0,NaN
2644,Musarañas,2014,Drama,6.7,\n1950s Madrid: The agoraphobic Montse raised ...,"Juanfer Andrés, Esteban Roel","Macarena Gómez, Nadia de Santiago, Hugo Silva,...","6,598",91.0,NaN
7280,Jupiter's Legacy,2021,Action,7.0,\nBrandon and Chloe clash with their dad after...,Steven S. DeKnight,"Josh Duhamel, Ben Daniels, Leslie Bibb, Andrew...","1,300",35.0,NaN
1054,Toy Boy,2019,Crime,6.4,\nA stripper sets out to prove his innocence f...,,"Jesús Mosquera, Cristina Castaño, María Pedraz...","5,774",NaN,NaN
317,Chesapeake Shores,2016,Drama,7.5,\nA young woman returns to her hometown to hel...,,"Jesse Metcalfe, Meghan Ory, Barbara Niven, Lac...","5,407",42.0,NaN
174,Transformers: War for Cybertron,2020,Animation,7.4,\nAnimated series set in the world of battling...,,"Jason Marnocha, Frank Todaro, Jake Foushee, Bi...","2,923",30.0,NaN
3308,The Iliza Shlesinger Sketch Show,2020,Comedy,5.0,\nFrom the mind of Iliza Shlesinger comes a se...,,"Iliza Shlesinger, Glo Tavarez, Kerry Coddett, ...",853,115.0,NaN
4344,Gungmin Yeoreobun,2019,Comedy,7.0,"\nYang Jung Kook is a veteran conman, but he h...",,"Si Won Choi, Im Ji-Hyun, Min-Jung Kim, Yoo-You...",167,NaN,NaN
233,Grimm,2011,Crime,7.8,\nA homicide detective discovers he is a desce...,,"David Giuntoli, Russell Hornsby, Silas Weir Mi...","111,716",45.0,NaN
2426,Marco Polo: One Hundred Eyes,2015,Action,7.8,\nBefore he lost his sight. Before he pledged ...,Alik Sakharov,"Benedict Wong, Tom Wu, Lorenzo Richelmy, Olivi...","10,146",28.0,NaN
1933,Marfa Girl,2012,Drama,5.2,\nA story centered on a directionless 16-year-...,Larry Clark,"Adam Mediano, Drake Burnette, Jeremy St. James...","1,561",105.0,NaN
7872,Disenchantment,2018,Animation,Not Available,\nAdd a Plot\n,,,NaN,NaN,NaN
6219,The Poet,0,Not Available,Not Available,"\nA woman who escaped a murderer as a teen, fi...",,,NaN,NaN,NaN
5878,Finding Home,2014,Documentary,7.9,\nFollows the lives of three young Cambodian w...,Derek Hammeke,Stephanie Freed,216,118.0,NaN
2,The Walking Dead,2010,Drama,8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,,"Andrew Lincoln, Norman Reedus, Melissa McBride...","885,805",44.0,NaN
4039,Oompa-Loompas,0,Not Available,Not Available,\nTV series centering on the adventures of the...,,,NaN,NaN,NaN
4316,Poli opposti,2015,Comedy,5.8,"\nShe's a divorce lawyer, single mother and pe...",Max Croci,"Luca Argentero, Sarah Felberbaum, Giampaolo Mo...",826,90.0,NaN
2415,Thriller,2018,Crime,3.6,\nA childhood prank comes back to haunt a cliq...,Dallas Jackson,"Jessica Allain, Luke Tennie, Mitchell Edwards,...","1,093",87.0,NaN
4834,Il principe abusivo,2013,Comedy,5.4,\nA princess has to pretend to be in love with...,Alessandro Siani,"Alessandro Siani, Christian De Sica, Sarah Fel...","1,619",97.0,NaN

## Task 6

**Clean the votes column**

In [ ]:
has_nan = df['VOTES'].isna().sum()
print("NaN values in 'VOTES' column:", has_nan)

NaN values in 'VOTES' column: 1002

In [ ]:
df['VOTES'] = df['VOTES'].replace('NaN', np.nan)

In [ ]:
df['VOTES'] = df['VOTES'].str.replace(',', '')  # Remove commas
df['VOTES'] = pd.to_numeric(df['VOTES'], errors='coerce').fillna(0).astype(int)  # Convert to whole numbers

df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,Directors,Stars,VOTES,RunTime,Gross
0,Blood Red Sky,2021,Action,6.1,\nA woman with a mysterious illness is forced ...,Peter Thorwarth,"Peri Baumeister, Carl Anton Koch, Alexander Sc...",21062,121.0,NaN
1,Masters of the Universe: Revelation,2021,Animation,5.0,\nThe war for Eternia begins again in what may...,,"Chris Wood, Sarah Michelle Gellar, Lena Headey...",17870,25.0,NaN
2,The Walking Dead,2010,Drama,8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,,"Andrew Lincoln, Norman Reedus, Melissa McBride...",885805,44.0,NaN
3,Rick and Morty,2013,Animation,9.2,\nAn animated series that follows the exploits...,,"Justin Roiland, Chris Parnell, Spencer Grammer...",414849,23.0,NaN
4,Army of Thieves,2021,Action,Not Available,"\nA prequel, set before the events of Army of ...",Matthias Schweighöfer,"Matthias Schweighöfer, Nathalie Emmanuel, Ruby...",0,NaN,NaN

## Task 7

**Clean the runtime column**

In [ ]:
has_nan = df['RunTime'].isna().sum()
print("NaN values in 'RunTime' column:", has_nan)

NaN values in 'RunTime' column: 1512

In [ ]:
df['RunTime'].fillna('Not Available', inplace=True)

df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,Directors,Stars,VOTES,RunTime,Gross
0,Blood Red Sky,2021,Action,6.1,\nA woman with a mysterious illness is forced ...,Peter Thorwarth,"Peri Baumeister, Carl Anton Koch, Alexander Sc...",21062,121.0,NaN
1,Masters of the Universe: Revelation,2021,Animation,5.0,\nThe war for Eternia begins again in what may...,,"Chris Wood, Sarah Michelle Gellar, Lena Headey...",17870,25.0,NaN
2,The Walking Dead,2010,Drama,8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,,"Andrew Lincoln, Norman Reedus, Melissa McBride...",885805,44.0,NaN
3,Rick and Morty,2013,Animation,9.2,\nAn animated series that follows the exploits...,,"Justin Roiland, Chris Parnell, Spencer Grammer...",414849,23.0,NaN
4,Army of Thieves,2021,Action,Not Available,"\nA prequel, set before the events of Army of ...",Matthias Schweighöfer,"Matthias Schweighöfer, Nathalie Emmanuel, Ruby...",0,Not Available,NaN

## Task 8

**Clean the gross column**

In [ ]:
has_nan = df['Gross'].isna().sum()
print("NaN values in 'Gross' column:", has_nan)

NaN values in 'Gross' column: 6365

In [ ]:
df['Gross'] = df['Gross'].str.replace(',', '')  # Remove commas
df['Gross'] = df['Gross'].str.replace('[\$,M]', '', regex=True).astype(float) * 1e6

median_gross = df['Gross'].median()
df['Gross'].fillna(median_gross, inplace=True)  # Fill NaN with median
df['Gross'] = df['Gross'].astype(int)  # Convert to whole numbers (integer data type)


df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,Directors,Stars,VOTES,RunTime,Gross
0,Blood Red Sky,2021,Action,6.1,\nA woman with a mysterious illness is forced ...,Peter Thorwarth,"Peri Baumeister, Carl Anton Koch, Alexander Sc...",21062,121.0,6420000
1,Masters of the Universe: Revelation,2021,Animation,5.0,\nThe war for Eternia begins again in what may...,,"Chris Wood, Sarah Michelle Gellar, Lena Headey...",17870,25.0,6420000
2,The Walking Dead,2010,Drama,8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,,"Andrew Lincoln, Norman Reedus, Melissa McBride...",885805,44.0,6420000
3,Rick and Morty,2013,Animation,9.2,\nAn animated series that follows the exploits...,,"Justin Roiland, Chris Parnell, Spencer Grammer...",414849,23.0,6420000
4,Army of Thieves,2021,Action,Not Available,"\nA prequel, set before the events of Army of ...",Matthias Schweighöfer,"Matthias Schweighöfer, Nathalie Emmanuel, Ruby...",0,Not Available,6420000

In [ ]:
# Convert column names to proper sentence case
df.columns = df.columns.str.title()

df.head()

,Movies,Year,Genre,Rating,One-Line,Directors,Stars,Votes,Runtime,Gross
0,Blood Red Sky,2021,Action,6.1,\nA woman with a mysterious illness is forced ...,Peter Thorwarth,"Peri Baumeister, Carl Anton Koch, Alexander Sc...",21062,121.0,6420000
1,Masters of the Universe: Revelation,2021,Animation,5.0,\nThe war for Eternia begins again in what may...,,"Chris Wood, Sarah Michelle Gellar, Lena Headey...",17870,25.0,6420000
2,The Walking Dead,2010,Drama,8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,,"Andrew Lincoln, Norman Reedus, Melissa McBride...",885805,44.0,6420000
3,Rick and Morty,2013,Animation,9.2,\nAn animated series that follows the exploits...,,"Justin Roiland, Chris Parnell, Spencer Grammer...",414849,23.0,6420000
4,Army of Thieves,2021,Action,Not Available,"\nA prequel, set before the events of Army of ...",Matthias Schweighöfer,"Matthias Schweighöfer, Nathalie Emmanuel, Ruby...",0,Not Available,6420000

In [ ]:

# Export the cleaned data to a CSV file
df.to_csv('cleaned_movies.csv', index=False)